@using CoreDemo.Models
@model RoleViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<h1>Rol Eklem Sayfası</h1>

<form asp-controller="AdminRole" asp-action="AddRole" method="post">
    <div class="row">
        <div class="form-group col-md-4">
            <label for="">Rol Başlığı</label>
            <input asp-for="Name" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <button class="btn btn-info">Kaydet</button>
        </div>
    </div>

    <div asp-validation-summary="ModelOnly"></div>
</form>
