@using CoreDemo.Controllers
@model Employee

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<form method="post" asp-controller="EmployeeTest" asp-action="AddEmployee">
    <label for="">Çalışan Adı Soyadı</label>
    <input type="text" asp-for="Name" class="form-control"/>
    <br>
    <button type="submit" class="btn btn-info">Ekle</button>
</form>
