@using CoreDemo.Controllers
@model List<Employee>

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Adı Soyadı</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="#" class="btn btn-outline-success">Düzenle</a></td>
        </tr>
    }
</table>

<td><a href="/EmployeeTest/AddEmployee/" class="btn btn-outline-primary">Yeni Çalışan Ekle</a></td>